.header {
    padding: 1rem 3rem 1rem;
    border-bottom: 1px solid #eee;
    display:flex;
    flex-direction:row;
}
.title{
    color: #000000 !important;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0rem 0rem 3rem;
    color: #999999;
    text-align:center;
}
.nav-list{
   
    list-style-type: none;
    margin: 0;
    
}


.nav-item {
    color: #999999;
    font-size: 1rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color: #666666;
}

.nav-current-item{
    color: #000000;
}